/* General styles */
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Event Creation Page-specific styling */
.eventCreationPage {
  background: url('F:\ReactTask\EventManagement\src\assets\concerthall.jpg') no-repeat center center fixed; /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  position: relative;
  width: 600px;
  padding: 30px;
  background: #000; /* Dark overlay for better text contrast */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(116, 109, 109, 0.6);
  border-radius: 10px;
  z-index: 10; /* Make sure form appears on top of other elements */
  
}

h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.inputField, .textareaField, .selectField {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(103 98 91);
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* Placeholder label effects */
.inputField:focus ~ label, 
.textareaField:focus ~ label,
.selectField:focus ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

/* Button Styles */
.submitButton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.submitButton:hover {
  color: #fff;
  background: #03e9f4;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .formContainer {
    width: 90%;
    padding: 20px;
  }

  .submitButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
