/* Event Details Page Styles */
body{
  font-family: Arial, sans-serif;

}
.event-details-page {
  color: #fff;
  background-color: #333;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}


.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #37525b;
}

.search-input {
  width: 100%;
  max-width: 1600px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
}

.view-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.view-button {
  font-style:Arial,sans-serif important!;
  padding: 10px 20px;
  font-size: 18px;
  color: #03e9f4;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.view-button:hover {
  background: #03e9f4;
  color: #fff;
}

/* Event Card Styling */
.event-card {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.event-card h3 {
  color: #03e9f4;
  margin-bottom: 10px;
}

.event-card p {
  margin: 5px 0;
}

.attendee-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  margin-bottom: 10px;
}

button, .save-button, .edit-attendee-button, .check-in-button, .check-out-button, .cancel-button {
  padding: 10px;
  background: transparent;
  border: 1px solid #03e9f4;
  color: #03e9f4;
  cursor: pointer;
  transition: 0.5s;
}

button:hover, .save-button:hover, .edit-attendee-button:hover, .check-in-button:hover, .check-out-button:hover, .cancel-button:hover {
  background: #03e9f4;
  color: #fff;
}


