html { 
  height: 100%;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-container h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-container .user-box {
  position: relative;
}

.login-container .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-container .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-container .user-box input:focus ~ label,
.login-container .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

/* Adjusted button size */
.login-container button {
  width: 90%;
  padding: 6px 12px;  /* Reduced padding for smaller button */
  color: #fff;
  background-color: #97cdf4;
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Smaller font size */
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: #028b97;
}

.toggle-btn {
  width: 100%;
  padding: 6px 12px; /* Reduced padding for smaller button */
  color: #03e9f4;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
}

.toggle-btn:hover {
  text-decoration: underline;
}

.reset-password-form {
  background: rgba(0, 0, 0, .7);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.reset-password-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
}

.reset-password-form button {
  width: 100%;
  padding: 6px 12px; /* Reduced padding for smaller button */
  color: #fff;
  background-color: #03e9f4;
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
}
