/* Import Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap'); */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 72.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* General navbar styles */
.navbar {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.nav-logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    color: #eb0808;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.nav-logo:hover {
    color: #eef3f2;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: #fff;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff0505;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 0.3rem 0;
    transition: all 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .hamburger {
      
      background-color: #ea5a5a!important;
        display: flex;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5.5rem;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        padding: 2rem 0;
        border-radius: 0;
        text-align: center;
        transition: 0.3s ease;
        z-index: 999;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .nav-link {
        font-size: 1.8rem;
        padding: 1rem;
        color: #fff;
    }

    .navbar {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        font-size: 1.8rem;
    }

    .nav-link {
        font-size: 1.6rem;
    }
}
